<div>
    <label class="heading-topics">Http Interceptors</label>
</div>
<div>
    Http interceptors intercept and transform http requests from application to server. It can perform a variety of tasks like authentication, logging for every http request.
    <br/>
    Create a class that implements 'HttpInterceptor' and implements intercept function. This function accepts two parameters request and next, where request is 
    current ongoing request and nect to handle the request.
    <br/>
    In app module providers handle this interceptor when you need to provide what all requests it needs to handle.
    <br/>
    <b>Syntax : {{handlerSyntax}}</b>
</div>