<div>
    <label class="heading-topics">Directives</label>
</div>
<div>
    Directives are classes that add additional behaviour to elements(how to behave and what to do) in angular application.
    With angular application build in directives we can manage forms, lists, styles what user can see.
    <br/><br/>
    The different type is angular directives are as follows :
    <br/><br/>
    <div>
        <b class="sub-heading-topics-2">1. Components directives</b><br/>
        A special type of directive that defines a reusable UI element with its own template, logic, and styling, forming the building blocks of an Angular application.
        <br/><b>Eg : </b>Component
    </div>
    <br/>
    <div>
        <b class="sub-heading-topics-2">2. Attribute directives</b><br/>
        Directives that change appearence or behaviour of an element, component or an another directive.
        <br/><b>Eg : </b>NgClass, NgStyle, NgModel.
    </div>
    <br/>
    <div>
        <b class="sub-heading-topics-2">3. Structural directives</b><br/>
        Directives that change DOM layout by adding and removing elements in a html page.
        <br/><b>Eg : </b>NgIf, NgFor, NgSwitch.
    </div>
</div>