<div>
    <label class="heading-topics">Directives</label>
</div>
<div>
    Directives are classes that add additional behaviour to elements in angular application. 
    With angular application build in directives we can manage forms, lists, styles what user can see.
    <br/><br/>
    The different type is angular directives are as follows :
    <br/>
    <div>1. <b class="sub-heading-topics-2">Components directives :</b> With a template. This type of dirrective is the most common directive type.</div>
    <div>2. <b class="sub-heading-topics-2">Attribute directives :</b> Directives that change appearence or behaviour of an element, component or an another directive.</div>
    <div>3. <b class="sub-heading-topics-2">Structural directives :</b> Directives that change DOM layout by adding and removing elements in a html page.</div>
</div>