<div>Component</div>
<div>--------------------</div>
<div>
    Components are main building blocks of angular.<br/>
    Each component consists of following items :<br/>
    a. HTML template : That declares what renders on the page.<br/>
    b. CSS  Style : Has the css class definition.<br/>
    c. Typescript class : Has backend code written in typescript, from where data is sent and received to HTML template. <br/>
    d. CSS Selector : Defines how a css styles are  defined on the component.
</div><br/>
<div>Component Decorator</div>
<div>--------------------</div>
<div>
    {{componentDecorator}}
</div>
<pre>
    selector     : This is the css selector for this component.
    templateUrl : This holds the html template URL for this component.
    styleUrls    : This has the definition of all the styles for this component.
</pre>
<div>To use this component this component must be included in app module decleration. And component selector should be used in html as a tag. The tag name should be same as the component selector name.</div>
