<div>
    <label class="heading-topics">Two way binding.</label>
</div>
<div>
    Two way binding is the concept of sharing and giving. Two way binding gives application a way to share data, use two Way
    binding to listen to events and update values simultaniously between parent and child components.
    Syntex : Combination of [] and (). 
    <br/><b>For instance {{syatexExample}}</b>
    <br/> "shareData" is a property in child component and "receivedData" is a property in parent component.
    <br/><br/>
    <b>NOTE : Two way binding is short hand of property binding and event binding.</b>
</div>
<div>
    Systex of achieving two way binding is <b>[(variable_name_goes_here)]</b>. Which is dataMember[] and memberFunction().
</div>
<div>
    Following are two example of two way binding.
</div>
<br/>
<div>
    <b>Example 1</b>
</div>
<div>
    <label>Change font size : </label>
    <label>{{fontSize}}</label>&nbsp;
    <button (click)="inc()">+</button>
    <button (click)="dec()">-</button>
    <div [style.font-size.px]="fontSize">Hi this is Girish.</div>
</div>
<br/>

<div>
    <b>Example 2</b>
</div>
<div>
    <app-child-c [(color)]="backgroundColor"></app-child-c><br/>
    <div [style.background]="backgroundColor" [style.width]="displayWidthParent">&nbsp;From Parent</div>
    <div>
        In this example the change in color is both property binding and event binding.
        <br/>
        {{bindingSyntex1}} | This is resolved to following.
        <br/>
        {{bindingSyntex2}}
    </div>
</div>
