<div>
    1. How to create angular app ?
</div>
<div>
    - Following is the command to generate and start with angular app. <br/> - ng new app_name
</div>
<br/>
<div>
    2. How to generate new component ?
</div>
<div>
    - Command: generate component component_name
</div>
<br/>
<div>
    3. How to build application ?
</div>
<div>
    - Command: npm install
</div>
<br/>
<div>
    4. How to run the application ?
</div>
<div>
    - Command: ng serve <br/> 
    - If with port number then : ng serve --port 4300 
</div>
<br/>