<div>
    <label class="heading-topics">Template Forms</label>
</div>
<div>
    Angular supports two design approaches for interactive forms :
    <div>a. Template Forms</div>
    <div>b. Reactive Forms</div>
</div>
<b>Template Forms are suitable for simple forms, while reactive forms are more scalable suitable for complex forms.</b>
<br/><br/>
<div class="sub-heading-topics-2">a. Template Forms</div>
Getting started with template forms.
<form>
    <table>
        <tr>
            <td>
                <label for="name">Name</label>
            </td>
            <td>
                : <input type="text" id="name" required [(ngModel)]="employee.name" name="mame"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="address">Address</label>
            </td>
            <td>
                : <input type="text" id="address" [(ngModel)]="employee.address" name="address"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="age">Age</label>
            </td>
            <td>
                : <select id="age" required [(ngModel)]="employee.age" name="age">
                    <option *ngFor="let a of availableAges">{{a}}</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <label for="gender">Gender</label>
            </td>
            <td>
                : <select id="gender" required [(ngModel)]="employee.gender" name="gender">
                    <option *ngFor="let g of availableGender">{{g}}</option>
                </select>
            </td>
        </tr>
    </table>
    
</form>