<style>
    .test-classOne {
        background: yellowgreen;
        width: 200px;
    }

    .test-classTwo {
        background: orange;
        width: 200px;
    }
    .onSale{
        background-color: green;
        width: fit-content;
        padding: 2px;
    }
    .notOnSale{
        background-color: orange;
        width: fit-content;
        padding: 2px;
    }
</style>
<div>
    <label class="heading-topics">Property Binding</label>
</div>

<div>
    Property binding moves a value in one direction. Value goes from class property to target html. Property bidning helps set values of HTML elements or directives.
    Following are examples of Property binding.
</div>
<div>
    <button [disabled]="isUnchanged">Disabled Button</button>
    Here in button [disabled]="isUnchanged", disabled is the property and isUnchanged is the value thats been passed from component. 
</div>
<div>
    With interpolation you can achieve the same result.
    button [disabled]="isUnchanged" //This is property binding.<br/>
    button disabled="{{disabledText}}" //This is interpolation.
    Both work as same until evaluation of template expression shouldn't have no visible side effects.
</div>
<div>
    {{propertyBindingExample1}} : This is Property binding.
    <br/>
    {{interpolationExample1}} : This is Interpolation.
</div>
<br/>
<div>
    <label class="sub-heading-topics-2">Attribute binding | Property Binding</label>
</div>

<div>
    Following is an example of attribute binding.<br/>
    {{AttributeBindingExample1}}
    <br/> Example : {{AttributeBindingExample2}}
</div>
<br/>
<div>
    <label class="sub-heading-topics-2">Class binding | Property Binding</label>
</div>
    Following is an examples of Class binding<br/>
    {{ClassBindingExample1}}
    <br/>
    <button class="btn-default" (click)="updateProduct($event)">{{isForSale}}</button><label [class]="applySaleClass">{{isForSale}}</label>
    <br/><div>Inspect element to view the result of following two class binding examples.</div>
    <div [class.sale]="onSaleTrue">Eg 1 : Is class applied | true</div>
    <div [class.sale]="onSaleFalse">Eg 2 : Is class applied | false</div>
    Eg 3 : {{ClassBindingExample2}} // Here classOne and classTwo are passed as a parameter to class attribute where both the classes gets applied.  <br/> 
    Eg 4 : {{ClassBindingExample3}} // Here only classOne is applied as classTwo is false.<br/> 
    Eg 5 : <div [class.test-classOne]="'{{isUnchanged}}'"> background: yellowgreen </div>
    Eg 6 : <div [class.test-classTwo]="'{{isUnchanged}}'"> background: orange </div>
    Eg 7 : <div [class]="'test-classOne'"> background: orange </div>
    Eg 8 : <div [class]="'{test-classOne : true, test-classTwo : false}'"> Hi </div>
    Eg 9 : <div [class]="'{test-classOne : false, test-classTwo : true}'"> Hi </div>
<br/>
<div>
    <label class="sub-heading-topics-2">Style binding | Property Binding</label>
</div>
Used to set styles dynamically. Following is an examples of Style binding. <br/>
    Eg 1 : {{StyleBindingExample1}} // Style attribute can be called assigned. <br/>
    Eg 2 : {{StyleBindingExample2}} // Even camel case also be used to apply for a style attribure. <br/>
    Eg 3 : {{StyleBindingExample3}} // In this case style list is passed as a parameter. <br/>
    Eg 4 : {{StyleBindingExample4}} // Here style is applied as json object where each property in json object gets applied. <br/><br/>
