<div>
    <label class="heading-topics">Template Statatement</label>
</div>


<div>
    Template statement is something that is response to an event raised by a target like element or component or directive.
</div>
<div>
    <button (click)="toggleContent($event)">Toggle Content</button> <div style="background-color: red; width: 30px;"> {{showDiv}} </div>
</div>
<div>
    Here in above example on click of button an event is trigerred which toggles the message. Click is one such event which is trigerred.
</div>