<div>Text Interpolation</div>
<div>-------------------</div>
<div>Text interpolation is one way data binding, sending the data from typescript to the html view.</div>
<div>{{templateExpression}}</div>
<div>When do we need text interpolation ?</div>
<div>We need text interpolation when we have to something dynamic in out html template.</div>
<div>Following is the example of text interpolation where the timer is displayed from typescript.</div>
<pre>
    Example 1 : {{title}}   // {{example_1}}
    Exmaple 2 : {{1+10}}    // {{example_2}}
    Example 3 : {{"Girish" + " J"}}   // {{example_3}}
    Example 4 : {{sumOfNumbers(11,100)}}    // {{example_4}}
</pre>
<div>
    Note : Here we cant use assignment operators like =, +=, -=, new, typeOf, instanceOf operators, chaining operators like --, ++ 
</div>