/* You can add global styles to this file, and also import other style files */
body {
    background: black;
}

.heading-topics {
    font-size: 20px;
    color: #0af;
    font-style: italic;
    font-weight: 700;
}

.sub-heading-topics-1 {
    font-size: 17px;
    color: #0af;
    font-style: italic;
    font-weight: 500;
}

.sub-heading-topics-2 {
    font-size: 15px;
    color: violet;
    font-style: italic;
    font-weight: 500;
}

.btn-default {
    background-color: darkblue;
    width: max-content;
    height: 25px;
    border-radius: 20px;
    color: white;
    margin: 1px;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-violet {
    color: violet;
}

.color-lightblue {
    color: lightblue;
}