<style>
    .highlight {
        background-color: blueviolet;
    }
</style>
<div class="highlight">
    Send string message to parent : <button class="btn-default" (click)="sendStringMessage()">Click : Send name</button> 
</div>
<div class="highlight">
    Send number message to parent : <button class="btn-default" (click)="sendNumberMessage()">Click : Send location</button>
</div>
<div class="highlight">
    Send person details to parent : <button class="btn-default" (click)="sendPersonDetails()">Click : Send details</button>
</div>
<div class="highlight">
    Description : {{descriptionChild}} 
</div>