<div>
    <label class="heading-topics">Component Communication</label>
</div>

<label style="color: greenyellow;font-size: 12px;font-weight: bold;">
    NOTE : Anything in ( ) is a reference to member function. And any useage in [ ] is a reference to property/member variable.
</label>
<div>
    Sending or sharing data from one component to another component. Following are the various types on component communication :
</div>
<pre>
    a. {{binding}}
    b. {{reference}}
    c. {{provider}}
    d. {{templateOutlet}}
</pre>

<div><label class="sub-heading-topics-2">a1. {{topic1}}</label></div>
<div>
    In here we send data from parent to child using input decorator. Input decorator takes the value from parent and stores the value in child property. 
    Following is an example of input decorator.
    <br/>
    <app-child-cc [childMessage]="'Message 1 : From Parent!'" [parentStringMessage]="'Message 2 : From Parent component.'"></app-child-cc>
</div>
<br/>

<div><label class="sub-heading-topics-2">a2. {{topic2}}</label></div>
<div>
    {{outputBindingDescription}} It marks a property in child component as a doorway to communicate with parent component. This is useful when we want to communicate on a event in child component to parent component.
    To raise an event output must have the type of event emitter. Its a class in angular core which is used to raise a custom events. Following is an example.
</div>
<div>
    <app-child-output (sendName)="receiveName($event)" (sendHomePin)="receiveHomePin($event)" (sendPerson)="receivePerson($event)"></app-child-output>
</div>
<br/>

<div><label class="sub-heading-topics-2">b. {{topic3}}</label></div>
<div>Allows child component to be injected into parent component. It will give parent access to its properties and functions. Child wont be available to give access until the view has been initialized. This means we have to implement ngAfterViewInit lifecycle hook to receive to see the data from the child.</div>
<div>Following is an example</div>
<div>
    <app-child-viewchild></app-child-viewchild>
    <button class="btn-default" (click)="getMessageFromChild()">Click : Get message from child.</button> &nbsp;
    <button class="btn-default" (click)="addNumberFromChild()">Click : To add two numbers.</button>
</div>
<br/>

<div><label class="sub-heading-topics-2">c. {{topic4}}</label></div>
<div> Todo :: Will learn later in this course.</div>
<br/>

<div><label class="sub-heading-topics-2">c. {{topic5}}</label></div>
<div> Todo :: Will learn later in this course.</div>
<br/>