<div>Component Communication</div>
<div>--------------------------------</div>
<div>
    Sending or sharing data from one component to another component. Following are the various types on component communication :
</div>
<pre>
    a. {{binding}}
    b. {{reference}}
    c. {{provider}}
    d. {{templateOutlet}}
</pre>

<div>a. {{topic1}}</div>
<div>
    In here we send data from parent to child using input decorator. Input decorator takes the value from parent and stores the value in child property. 
    Following is an example of input decorator.

    <app-child-cc [childMessage]="'Hi from Parent!'"></app-child-cc>
</div>
<div></div>
<br/>

<div>b. {{topic2}}</div>
<div></div>
<br/>

<div>c. {{topic3}}</div>
<div></div>
<br/>

<div>d. {{topic4}}</div>
<div></div>
