<div>Component Communication</div>
<div>--------------------------------</div>
<div> NOTE :: ANYTHING IN () IS A REFERENCE TO MEMBER FUNCTION. AND ANY USEAGE IN [] IS A REFERENCE TO PROPERTY/MEMBER VARIABLE.</div>
<div>
    Sending or sharing data from one component to another component. Following are the various types on component communication :
</div>
<pre>
    a. {{binding}}
    b. {{reference}}
    c. {{provider}}
    d. {{templateOutlet}}
</pre>

<div>a. {{topic1}}</div>
<div>
    In here we send data from parent to child using input decorator. Input decorator takes the value from parent and stores the value in child property. 
    Following is an example of input decorator.

    <app-child-cc [childMessage]="'Hi from Parent!'" [parentStringMessage]="'Another message from Parent component.'"></app-child-cc>
</div>
<div></div> 
<br/>

<div>b. {{topic2}}</div>
<div>
    {{outputBindingDescription}}. It marks a property in child component as a doorway to communicate with parent component. This is useful when we want to communicate on a event in child component to parent component.
    To raise an event output must have the type of event emitter. Its a class in angular core which is used to raise a custom events. Following is an example.
</div>
<div>
    <app-child-output (sendName)="receiveName($event)" (sendHomePin)="receiveHomePin($event)"></app-child-output>
</div>
<br/>

<div>c. {{topic3}}</div>
<div></div>
<br/>

<div>d. {{topic4}}</div>
<div></div>
